@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}